ci:
  autofix_commit_msg: 'chore(pre-commit): autofix run'
  autoupdate_commit_msg: 'chore(pre-commit): autoupdate hooks'
  autoupdate_branch: dev
  autoupdate_schedule: weekly
exclude: >
  (?x)(
      node_modules/
  )
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
  - id: autoflake
    exclude: &fixtures test/
    args:
    - --in-place
    - --remove-all-unused-imports
    - --expand-star-imports
    - --remove-duplicate-keys
    - --remove-unused-variables
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.0
  hooks:
  - id: pyupgrade
    args: [--py36-plus]
- repo: https://github.com/PyCQA/isort
  rev: 5.13.2
  hooks:
  - id: isort
    exclude: docs*
    additional_dependencies: [toml]
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
